<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanda.mapper.MovieEpisodeMapper">

	<resultMap id="SimpleEpisodeMap" type="com.yanda.entity.SimpleEpisode">
		<id column="episode_id" jdbcType="BIGINT" javaType="java.lang.Long" property="episodeId" />
		<result column="episode_num" jdbcType="INTEGER" javaType="java.lang.Integer" property="episodeNum" />
	</resultMap>


	<select id="findSimpleEpisodeByMvId" resultMap="SimpleEpisodeMap">
		select episode_id, episode_num from t_mv_episode where mv_id = #{mvId} order by episode_num asc;
	</select>


</mapper>